<div id="sidebar-wrapper" class="col-md-1">
  <div id="sidebar">
    <ul class="nav list-group">
      <li>
        <a class="list-group-item" routerLink="/myschedule"><i class="icon-home icon-1x"></i>My Schedule</a>
      </li>
      <li>
        <a class="list-group-item" href="#"><i class="icon-home icon-1x"></i>Per Diem</a>
      </li>
      <li>
        <a class="list-group-item" routerLink="/allschedules">All Schedules<i class="icon-home icon-1x"></i></a>
      </li>
     <!-- <li>
        <a class="list-group-item" href="#"><i class="icon-home icon-1x"></i></a>
      </li>
      <li>
        <a class="list-group-item" href="#"><i class="icon-home icon-1x"></i></a>
      </li>-->
    </ul>
  </div>
</div>
